/*.cart{
    text-decoration: none;
    word-spacing: 1.2em;
}
*/
.jumbotron{
    margin-top: 0;
    height: 40%;
    padding-top: 180px;
    color:#839496;
    text-align: center;
    background-color:#073642;
}

.row.text-center > div {
        display: inline-block;
        float: none;
    }
    
    
.img-responsive{
    border-radius: 30px;
    max-width: 50%;
}

.navbar-brand {
    height:50px;
    width:50px;
}