    @import url('https://fonts.googleapis.com/css?family=Shojumaru');
    @import url('https://fonts.googleapis.com/css?family=Gruppo');
    img {
        display:block;
        width:300px;
        margin:auto;
        
    }
    h3{
        font-family: 'Gruppo', cursive;
        text-shadow: 3px 2px red;
        text-align:center;
    }
    
    h2{
        font-family: 'Shojumaru', cursive;
        text-shadow: 3px 2px red;
        text-align:center;
    }
    
    body {
        background-color: black;
        background-image:url("../img/mat.jpg");
        background-position:center;
        background-repeat: repeat-y;
        color: white;
        height:100%;
        margin:0px;
        padding:0px;
        
        
    }
    
    header{
        font-family: 'Shojumaru', cursive;
        text-shadow: 5px 5px red;
        text-align: center;
        
    }
    
   .frameStuff{
		display:table; 
		height:100%; 
		margin: 0 auto;
	}

	.formStuff{
		display:table-cell;
		vertical-align:middle;
	}	
	
	.formStuff #rollSelection{
	    font-family: 'Shojumaru', cursive;
	    color:black;
	    padding:10px; 
        background: #fff;
        border: 1px solid #ddd;
        width:300px;
	}
	
	select{
	    background-color: #F0F8FF;
	}